<!--<div class="form-group filter-container">-->
    <!--<label class='control-label col-md-10'>{{filter.field}}</label>-->
    <!--<div class="col-md-10 filter-input">-->
        <!--<select ng-show="shouldShowOperators()" class="input-sm form-control operator-select" ng-model="filter.selectedOperator" ng-options="operator.value as operator.key for operator in filter.supportedOperators"></select>-->
        <!--<input ng-class="shouldShowOperators() ?  'operator-input' : ''" class="filterinput form-control input-sm" type="text" ng-model="filter.value"/>-->
    <!--</div>-->
<!--</div>-->

<div class="input-group">
    <div class="input-group-btn" ng-show="shouldShowOperators()">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">operator <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li ng-repeat="operator in filter.supportedOperators" ng-click="setSelectedOperator(operator)">{{operator.key}}</li>
        </ul>
    </div>
    <input type="text" class="form-control input-sm" ng-model="filter.value">
    <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
</div>