<div class="form-group">
    <label class='control-label col-md-10'>{{filter.field}}</label>
    <div class="col-md-10 filter-input">
        <select ng-show="shouldShowOperators()" class="input-sm form-control operator-select" ng-model="filter.selectedOperator" ng-options="operator.value as operator.key for operator in filter.supportedOperators"></select>
        <input ng-class="shouldShowOperators() ?  'operator-input' : ''" class="filterinput operator-input" ng-model="filter.value" type="text"/>
    </div>
</div>