<!--<div class="form-group filter-container">-->
    <!--<label class='control-label col-md-10'>{{filter.field}}</label>-->
    <!--<div class="col-md-10 filter-input">-->
        <!--<select ng-show="shouldShowOperators()" class="input-sm form-control operator-select" ng-model="filter.selectedOperator" ng-options="operator.value as operator.key for operator in filter.supportedOperators"></select>-->
        <!--<multiselect-->
                <!--ng-class="shouldShowOperators() ?  'operator-input' : ''"-->
                <!--ng-model="filter.value"-->
                <!--options="option.value as option.key for option in filter.options"-->
                <!--data-multiple="true"-->
                <!--data-compare-by="value"-->
                <!--scroll-after-rows="5"-->
                <!--filter-after-rows="5"-->
                <!--max-width="100">-->
        <!--</multiselect>-->
    <!--</div>-->
<!--</div>-->

<div class="input-group">
    <label>{{filter.field}}</label>
    <div class="input-group-btn" ng-show="shouldShowOperators()">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{filter.selectedOperator.key}} <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li ng-repeat="operator in filter.supportedOperators" ng-click="setSelectedOperator(operator)"><a>{{operator.key}}</a></li>
        </ul>
    </div>

    <multiselect
            ng-model="filter.value"
            options="option.value as option.key for option in filter.options"
            data-multiple="true"
            data-compare-by="value"
            scroll-after-rows="5"
            filter-after-rows="5"
            max-width="100">
    </multiselect>
    <span class="input-group-btn" style="width: 0">
        <button class="btn btn-default half-round-corners-right" type="button"><span class="glyphicon glyphicon-remove"></span></button>
    </span>
</div>