<div class="input-group">
    <div class="input-group-btn" ng-show="shouldShowOperators()">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{filter.selectedOperator.key}} <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li ng-repeat="operator in filter.supportedOperators" ng-click="setSelectedOperator(operator)"><a>{{operator.key}}</a></li>
        </ul>
    </div>
    <input bs-switch class="filterInput" type="checkbox" ng-model="filter.value" switch-on-text="Ja" switch-off-text="Nee" switch-size="small"/>
    <span class="input-group-btn">
        <button class="btn btn-default half-round-corners-right" type="button"><span class="glyphicon glyphicon-remove"></span></button>
    </span>
</div>