<div class="input-group exclude">

    <div class="form-group required">
        <label class="control-label">Van: </label>
        <p class="input-group input-width-sm">
            <input type="text" class="form-control" is-open="datepickerFrom.opened"
                   show-button-bar="false"
                   date-formatter
                   ng-model-options="{ allowInvalid: true }"
                   uib-datepicker-popup="dd-MM-yyyy" ng-model="filter.value.from" is-open="false"
                   ng-required="true" close-text="Sluiten"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDatePickerFrom()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
        </p>
    </div>
    <div class="form-group required">
        <label class="control-label">Tot: </label>
        <p class="input-group input-width-sm">
            <input type="text" class="form-control" is-open="datepickerTo.opened"
                   show-button-bar="false"
                   date-formatter
                   ng-model-options="{ allowInvalid: true }"
                   uib-datepicker-popup="dd-MM-yyyy" ng-model="filter.value.to" is-open="false"
                   ng-required="true" close-text="Sluiten"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDatePickerTo()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
        </p>
    </div>
</div>